*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--fm-bg);
  color: var(--fm-fg);
  font-family: var(--fm-font-mono);
}

h1,
h2,
h3,
p {
  margin: 0;
}

table {
  border-collapse: collapse;
}
